{% extends '@EndroidAdventure/layout.html.twig' %}

{% block content %}

    <h1>{{ adventure.name }}</h1>

    <div class="alert alert-primary" role="alert">
        Character {{ adventure.currentCharacter }} at {{ adventure.currentCharacter.location }}
    </div>

    <div class="alert alert-success" role="alert">
        Items: {% for item in adventure.currentCharacter.location.items %} {{ item }}{% else %}none{% endfor %}
    </div>

    {{ render(controller('App\\Controller\\CreateController')) }}

    <div class="btn-group">
        {% for controllableCharacter in adventure.controllableCharacters %}
            <a class="btn btn-{% if controllableCharacter == adventure.currentCharacter %}dark{% else %}secondary{% endif %}" href="{{ path('adventure_switch_character', { adventureId: adventure.id, characterId: controllableCharacter.id }) }}" role="button">{{ controllableCharacter.name }}</a>
        {% endfor %}
    </div>

{% endblock %}
